@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("../shared/reset.css");
@import url("../shared/colors.css");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }