<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart</title>
    <link rel="stylesheet" href="https://azure-ui.netlify.app/main.css" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/cart.css" />
  </head>
  <body>
    <header class="header-3pt">
      <div class="header-logo-3pt">
        <a href="../index.html" class="header-href-3pt">
          <img src="../images/logo.png" alt="logo" class="header-img-3pt" />
        </a>
      </div>

      <div class="header-nav-3pt">
        <nav>
          <ul class="header-menu-3pt">
            <li class="menu-item-3pt"><a href="../index.html">Home</a></li>
            <li class="menu-item-3pt">
              <a href="product.html">Products</a>
            </li>
            <li class="menu-item-3pt">
              <a href="product.html">Sale</a>
            </li>
          </ul>
        </nav>
      </div>

      <i class="fas fa-bars hamburger-3pt"></i>
      <div class="header-icons-3pt">
        <a href="">
          <i class="fas fa-search icon-link-3pt"></i>
        </a>
        <i class="fas fa-user icon-link-3pt"></i>
        <a href="wishlist.html">
          <i class="far fa-bookmark icon-link-3pt"></i>
        </a>
        <a href="cart.html">
          <i class="fas fa-shopping-cart icon-link-3pt"></i>
        </a>
      </div>
    </header>
    <h3 class="wishlist-heading">Bag ---- Address ---- Payment</h3>

    <div class="add-to-cart-container">
      <div>
        <div class="address-card">
          <h3>Deliver to:</h3>
          <div class="addressee">Masudha Meher</div>
          <div class="address-detail">
            Flat No. xx, Sec-xx, Poc-x, Abcderfg Apartments, Dwarka, New
            Delhi-1100xx
          </div>
          <button class="change-address outline-btn btn">Change Address</button>
        </div>
        <div class="item-selection">
          <span class="selection-amt">1</span> /
          <span class="total-amt">1</span> items selected
        </div>
        <div class="cart-card">
          <div class="cart-img-container">
            <img
              src="https://i.pinimg.com/originals/5e/1c/5c/5e1c5c256630608d1de8f4c223bd1512.png"
              alt=""
              class="cart-img"
            />
            <i class="fas fa-trash-alt delete"></i>
            <input
              type="checkbox"
              name="select-item"
              class="select-item"
              checked
            />
          </div>

          <div class="card-content-hrz">
            <h4 class="card-title-hrz">Bleach</h4>
            <p class="card-seller-hrz">Jump Comics</p>

            <div class="quantity">
              <button class="increase-quantity">+</button>
              <span class="quantity-wt">1</span>
              <button class="decrease-quantity">-</button>
            </div>

            <div class="price">₹ 700</div>

            <div class="delivery-date">
              Delivery by <span class="arrival-date">20th Feb 2022 </span>
            </div>
            <button class="wishlist-btn outline-btn btn">
              Move to Wishlist
            </button>
          </div>
        </div>
      </div>

      <div class="checkout-summary">
        <div class="price-details-conatiner">
          <div class="">
            <div class="coupon-detail-title hd">Coupons</div>
            <div class="coupon-status mrp">No apply coupons applied</div>
            <button class="outline-btn btn">apply coupons</button>
          </div>
          <hr />
          <div class="price-detail-title hd">
            <span>Price Details <span>(1 item)</span></span>
          </div>
          <div class="mrp-tab">
            <div class="total-mrp mrp">
              <span>Total MRP</span> <span>₹ 700</span>
            </div>

            <div class="mrp"><span>Discount on MRP</span> <span>--</span></div>

            <div class="mrp">
              <span>Coupon Discount</span> <a href="">Apply Coupon</a>
            </div>
            <hr />
            <div class="mrp"><span>Total</span> <span>₹ 700</span></div>
          </div>
          <button class="checkout-btn btn">Checkout</button>
        </div>
      </div>
    </div>
    <script src="../js/cart.js"></script>
  </body>
</html>
